{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "max-statements": [
      "warn",
      {
        "max": 5
      }
    ],
    "complexity": [
      1,
      {
        "max": 6
      }
    ]
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "parserOptions": {
    "project": [
      "./tsconfig.json"
    ]
  }
}
